<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Registration</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="/home">COVID TRACKER</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/home">Home</a></li>
					<li><a href=""></a></li>
					<li><a href=""></a></li>
				</ul>
			</nav>

		<!-- Heading -->
        <link rel="stylesheet" href="../assets/css/form.css" />
			<div id="heading" >
				<h1>Registration</h1>
			</div>

        <!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<!-- multistep form -->
<form id="msform" method="post" action="">
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Create your account</h2>
    <h3 class="fs-subtitle">This is step 1</h3>
    <input type="text" name="email" placeholder="Email" />
    <input type="password" name="pass" placeholder="Password" />
    <input type="password" name="cpass" placeholder="Confirm Password" />
      <br>
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Social Profiles</h2>
    <h3 class="fs-subtitle">Your aadhar number</h3>
    <input type="text" name="aadharNum" placeholder="Aadhar Number" />
</fieldset>
    <br>
  <fieldset>
    <h2 class="fs-title">Personal Details</h2>
    <h3 class="fs-subtitle">We will never sell it</h3>
    <input type="text" name="name" placeholder="Full name" />
    <input type="text" name="phone" placeholder="Phone Number" />
    <input type="text" name="dob" placeholder="MM-DD-YYYY" />
    <textarea name="address" placeholder="Address"></textarea>
      <br>
    <input type="submit" name="submit" class="submit action-button" value="Submit" />
  </fieldset>
</form>
					</div>
				</div>
			</section>










        <!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>NOTE TO GOVERNMENT AUTHORITIES</h3>
							<p>For retrieving the details/backtracking any user please contact the database administrators. Their details are provided here.</p>
						</section>
						<section>
							<h4>DATABASE ADMINISTRATORS</h4>
							<ul class="alt">
								<li><a href="#">Shankar Subramanian - xxxxyyyy@gmail.com</a></li>
								<li><a href="#">Prithviraj Kalaiselvan - xxxxxyyyyy@gmail.com</a></li>
							</ul>
						</section>
						<section>
							<h4>SUPPORT US</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy;  All Rights Reserved.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>
